@page "/"
@using System.Security.Claims

<AuthorizeView Roles="Administrator">
    <Authorized>
        The user: @context.User.FindFirst(ClaimTypes.Name).Value is authorized
        <a href="Logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Registration">Register</a>
        <a href="Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

<MatButton OnClick="OnLoginDefaultUser">Login Default</MatButton>

@if (_blogs?.Count() > 0)
{
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                @foreach (var blog in _blogs)
                {
                    <PostPreview @key="blog.Id" Blog="blog"/>
                }
                
            </div>
        </div>
    </div>
}